In [5]:
import pandas as pd
from scipy.stats import f_oneway

In [ ]:
df = pd.read_csv("pokemon.csv", index_col=0)

In [4]:
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [10]:
unique_type = pd.concat([df["Type 1"], df["Type 2"]]).drop_duplicates()
unique_type.head()

#
1      Grass
4       Fire
7      Water
10       Bug
16    Normal
dtype: object

In [8]:
len(unique_type)

19

In [11]:
pokemon_totals = []
unique_type.dropna(inplace=True)

In [13]:
for poke_type in unique_type:
    mask = (df["Type 1"] == poke_type) | (df["Type 2"] == poke_type)
    pokemon_totals.append(df[mask]["Total"].values)

In [15]:
len(pokemon_totals)

18

$H_0$ : No significative difference between the values among pokemon types 

$H_a$ : There are significative differences between the values among pokem on types

In [17]:
alpha = 0.05
test = f_oneway(*pokemon_totals)
test

F_onewayResult(statistic=6.6175382960055344, pvalue=2.6457458815984803e-15)

In [18]:
if test.pvalue < alpha:
    print("Reject the Null Hypothesis")
else:
    print("Fail to reject the null hypothesis")

Reject the Null Hypothesis