# Unpacking - Packing

In [1]:
5*5

25

In [2]:
5**3

125

## Unpacking
We can use * to unpack the list so that all elements of it can be passed as different parameters.

In [3]:
def fun(a, b, c, d): 
    print(a, b, c, d) 
  
# Driver Code 
my_list = [1, 2, 3, 4] 
  
# This doesn't work 
fun(*my_list)

1 2 3 4

In [5]:
def updateStudentDetail(name, phone, address):
    print("**********************")
    print("Student Name : ", name)
    print("Student phone : ", phone)
    print("Student address : ", address)

In [6]:
updateStudentDetail("Riti", "3343" , "Delhi")

**********************
Student Name :  Riti
Student phone :  3343
Student address :  Delhi

------------------------------------------------------------

In [10]:
gazpacho = ["tomate" ,"pepino" ,"cebolla" ,"ajo"]
print(gazpacho)

['tomate', 'pepino', 'cebolla', 'ajo']

In [9]:
print(*gazpacho)

tomate pepino cebolla ajo

In [ ]:
print(type(gazpacho))

In [8]:
print(type(*gazpacho))

TypeError: type() takes 1 or 3 arguments

-----------------------------------------------------

# N-Positionals

In [7]:
def suma(*values):
    print(values, type(values))
    s = 0
    for e in values:
        s += e
    return s

data = [5,6,7]
print(type(data))
suma(*data)

<class 'list'>
(5, 6, 7) <class 'tuple'>

18

As in the above example we are not sure about the number of arguments that can be passed to a function. Python has *args which allow us to pass the variable number of non keyword arguments to function.

In the function, we should use an asterisk * before the parameter name to pass variable length arguments.The arguments are passed as a tuple and these passed arguments make tuple inside the function with same name as the parameter excluding asterisk *

In [14]:
def sumita( x , y ) :
    
    return x+y

In [16]:
sumita(1,2)

3

In [18]:
sumita(1)

TypeError: sumita() missing 1 required positional argument: 'y'

In [32]:
def sumita( *args ) :
    print(args)
    print(type(args))
    return sum(args)

In [35]:
sumita(1)

(1,)
<class 'tuple'>

1

In [48]:
def sumita( *args ) :
    print(args)
    print(type(args))
    return sum(args)

In [51]:
numeros_a_sumar = [10,23,32,43,51,12]

In [53]:
sumita(*numeros_a_sumar)

[10, 23, 32, 43, 51, 12]
<class 'list'>

171

---------------------------

In [72]:
def multiply(*args):
    print(type(args))
    total = 1 
    for num in args:
        total= total * num
    return total

In [73]:
print(multiply(4, 5))
print(multiply(10, 9))
print(multiply(2, 3, 4))
print(multiply(3, 5, 10, 6))

<class 'tuple'>
20
<class 'tuple'>
90
<class 'tuple'>
24
<class 'tuple'>
900

# N -Keyword arguments

In [78]:
def multiplicacion(a,b=10):
    return a*b

In [79]:
multiplicacion(1)

10

In [80]:
multiplicacion(2)

20

In [83]:
colores = {"red":1 , "green":2 , "orange":3 , "blue":4 , "purple":5}

In [84]:
def coolprinter(color , mensaje= " Hello World " ):
    print(f'\033[9{color}m {mensaje}')

In [87]:
coolprinter(colores["purple"])

  Hello World

Python passes variable length non keyword argument to function using *args but we cannot use this to pass keyword argument. For this problem Python has got a solution called **kwargs, it allows us to pass the variable length of keyword arguments to the function.

In the function, we use the double asterisk ** before the parameter name to denote this type of argument. The arguments are passed as a dictionary and these arguments make a dictionary inside function with name same as the parameter excluding double asterisk **.

In [93]:

def suma(a=0, b=0):
    print(a,b)
    return a+b

In [94]:
d = {"a":2 ,"b":4}

In [95]:
suma(**d)

2 4

6

In [114]:
def show(**args):
    print(args)
    print(type(args))

show(antonio=12,pepe=[],laura=4)

{'antonio': 12, 'pepe': [], 'laura': 4}
<class 'dict'>

In [107]:
def show(**args):
    print(args)
    print(type(args))

show(invitado={"juan":12})

{'invitado': {'juan': 12}}
<class 'dict'>

In [172]:
def factura(*elementos , **nombre_completo):
    print("-----------------------")
    print(elementos)
    print(type(elementos))
    print("-----------------------")
    print(nombre_completo)
    print(type(nombre_completo))
    print("-----------------------")
    for k,v in nombre_completo.items():
        print(k,v)

In [173]:
compra = [ "piña" ,"pavo" ,"pan","tomates"]

In [174]:
factura(*compra, nombre="Adri" , apellidos =  "Coca Biosca")

-----------------------
('piña', 'pavo', 'pan', 'tomates')
<class 'tuple'>
-----------------------
{'nombre': 'Adri', 'apellidos': 'Coca Biosca'}
<class 'dict'>
-----------------------
nombre Adri
apellidos Coca Biosca

# Rembember

Things to Remember:
*args and *kwargs are special keyword which allows function to take variable length argument.
*args passes variable number of non-keyworded arguments list and on which operation of the list can be performed.
**kwargs passes variable number of keyword arguments dictionary to function on which operation of a dictionary can be performed.
*args and **kwargs make the function flexible.