# OOP

### Differences
#### Functional programming
- Focus on the execution of functions
- `Immutable` data

#### Object Oriented Programming
- Based on the concept objects
- `Mutable` data

In [1]:
a = "Hola"
print(type(a))

<class 'str'>

In [2]:
[att for att in dir(a) if not att.startswith("_")]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
a.upper()

'HOLA'

In [4]:
from w3d1 import Seminar, Student

In [5]:
pepe = Student("Pepe", "Data")
maria = Student("Maria", "Web")

event = Seminar("Machine Learning for dummies", "Andrew Ng", "10/11/2020", "data", "machine learning", "data science", "algorithms")

In [7]:
maria.attend(event)

'Maria shall not attend'

In [8]:
pepe.name

'Pepe'

In [9]:
def sq_list(lst):
    return [e**2 for e in lst]

In [10]:
l = [1,2,3,4,5,6,7]
sq_list(l)

[1, 4, 9, 16, 25, 36, 49]

In [12]:
l
l=sq_list(l)

In [13]:
# List has not changed, it is a new one!!!
l

[1, 4, 9, 16, 25, 36, 49]

In [38]:
class SuperList:
    def __init__(self,*nums):
        self.nums = list(nums)
    def sq(self):
        self.nums = [e**2 for e in self.nums]
    def __str__(self):
        return str(self.nums)
    def __repr__(self):
        return self.__str__()

In [39]:
super_list = SuperList(1,2,3,4,5,6,7)

In [40]:
super_list

[1, 2, 3, 4, 5, 6, 7]

In [41]:
id(super_list)

140545065297104

In [42]:
super_list.sq()

In [43]:
super_list

[1, 4, 9, 16, 25, 36, 49]

In [44]:
id(super_list)

140545065297104

In [46]:
type(print)

builtin_function_or_method

In [80]:
## Functional Programming
### State

light = "off"
light2 = "on"
light3 = "off"
light4 = "on"
light5 = "off"
light6 = "on"
light7 = "off"
light8 = "on"
lights = [light,
          light2,
          light3,
          light4,
          light5,
          light6,
          light7,
          light8]

def is_on(light):
    if light == "on":
        return True
    else:
        return False
    
def is_workday(lights):
    on = 0
    off = 0
    for l in lights:
        if is_on(l):
            on +=1
        else:
            off +=1
    if on >= off:
        return True
    else:
        return False

In [81]:
is_workday(lights)

True

In [82]:
light4, light6 = "off","off"

In [83]:
is_workday(lights)

True

In [84]:
is_workday([light,light2,light3,light4,light5,light6,light7,light8])

False

In [127]:
import random
## OOP

class Light:
    def __init__(self,status):
        self.status = status
    def flip(self):
        if self.status == "on":
            self.status = "off"
        else:
            self.status = "on"
    def __repr__(self):
        return self.status
    def turn_on(self):
        self.status = "on"
    def turn_off(self):
        self.status = "off"
            
lights = [Light(random.choice(["on","off"])) for _ in range(8)]

def is_on(light):
    if light == "on":
        return True
    else:
        return False
    
def is_workday(lights):
    on = 0
    off = 0
    for l in lights:
        if is_on(l):
            on +=1
        else:
            off +=1
    if on >= off:
        return True
    else:
        return False

In [128]:
lights

[off, off, off, on, off, off, on, off]

In [129]:
is_workday(lights)

False

In [130]:
for l in lights:
    l.turn_off()

In [131]:
lights

[off, off, off, off, off, off, off, off]

In [132]:
is_workday(lights)

False

In [133]:
light = Light("off")
light2 = Light("on")
light3 = Light("off")
light4 = Light("on")
light5 = Light("off")
light6 = Light("on")
light7 = Light("off")
light8 = Light("on")
lights = [light,
          light2,
          light3,
          light4,
          light5,
          light6,
          light7,
          light8]

In [134]:
is_workday(lights)

False

In [135]:
light2.turn_off()
light4.status = "off"

In [136]:
is_workday(lights)

False

![OOP vs Functional](https://miro.medium.com/max/1400/1*9OCTlnrfdIvV6dsBv-ECow.jpeg)

In [137]:
light

off

In [138]:
light.turn_off()
light

off

In [139]:
light.turn_on()
light

on

In [140]:
light.flip()
light

off

In [141]:
class Dog:
    pass

In [142]:
d = Dog()
d

In [189]:
class Dog:
    def __init__(self):
        self.dog = """   __    __
o-''))_____\\
"--__/ * * * )
c_c__/-c____/"""
    def bark(self):
        return "Woof, woof"
    def __repr__(self):
        return self.dog
    def __mul__(self,other):
        if other is self:
            return "Dogs do not multiplicate with themselves"
        print("A puppy is born")
        return Dog()

In [190]:
d = Dog()
d

   __    __
o-''))_____\
"--__/ * * * )
c_c__/-c____/

In [191]:
dog = Dog()

In [192]:
d.bark()

'Woof, woof'

In [194]:
puppy = d*dog

A puppy is born

In [195]:
puppy.bark()

'Woof, woof'

# List Comprehension

## Conditionals in List Comprehensions
### Filtering
- `if` after for
- NO else
- LC may have the same size as iterations or less, down 0

### "Conditional values"
- `if` before for
- `if` is part of a **ternary**
- else mandatory
- LC will have same size as iterations!!!

In [208]:
## Filtering
lst = [1,2,3,4]
iterations = len(lst)
lc = [e for e in lst if e%2]
lc_size = len(lc)
print(f"total iterations: {iterations}")
print(f"final len: {lc_size}")

total iterations: 4
final len: 2

In [209]:
# No else!!
[e for e in lst if e%2 else 5]

SyntaxError: invalid syntax (<ipython-input-209-01e8659e05c0>, line 1)

In [213]:
## Conditional values // TERNARY
a = 8
if a%2:
    parity = "odd"
else:
    parity = "even"

In [214]:
parity

'even'

In [215]:
a = 8
parity = "odd" if a%2 else "even"

In [216]:
parity

'even'

In [217]:
# [parity for a in lst]
lst = [1,2,3,4]
iterations = len(lst)
lc = ["odd" if a%2 else "even" for a in lst]
lc_size = len(lc)
print(f"total iterations: {iterations}")
print(f"final len: {lc_size}")

total iterations: 4
final len: 4

In [218]:
lc

['odd', 'even', 'odd', 'even']

In [220]:
parties = ["wedding", "beach", "pool", "wedding", "wedding", "bar", "dinner"]
["formal" if party in ["wedding","dinner"] else "informal" for party in parties]

['formal', 'informal', 'informal', 'formal', 'formal', 'informal', 'formal']

In [221]:
ages = [56,42,6,7,16,20,2]
["formal" if party in ["wedding","dinner"] else "informal"  #Ternary
 for age,party in zip(ages,parties) #Iteration (List Comprehension)
 if age>=18] #Filtering

['formal', 'informal', 'informal']

In [222]:
# kids: 0<=age<=12
# teenagers: 13<=age<=19
# adults: 19<age

In [227]:
age = 25
# not adult = "teenager" if 13<=age<=19 else "kid"
age_bin = "adult" if age > 19 else "teenager" if 13<=age<=19 else "kid"

In [228]:
age_bin

'adult'

In [234]:
lc = [e for e in range(1,151) if e%2==0 if len(str(e))%2==0]

In [235]:
a = 1754
if a%2 == 0:
    if len(str(a))%2 == 0:
        print("Magic!")

Magic!

### Nested `for` order

In [240]:
# -------->
lst = [
    [1,2,3],
    [4,5,6]
]
flatten = [e for sublist in lst for e in sublist]
flatten

[1, 2, 3, 4, 5, 6]

In [238]:
flatten = []
for sublist in lst:
    for e in sublist:
        flatten.append(e)
flatten

[1, 2, 3, 4, 5, 6]

## Dict Comprehension

In [242]:
is_even = {i:i%2==0 for i in range(1,51)}

In [243]:
is_even[15]

False

In [244]:
# Filtering
{i:i%2==0 for i in range(1,51) if i%2==0}

{2: True,
 4: True,
 6: True,
 8: True,
 10: True,
 12: True,
 14: True,
 16: True,
 18: True,
 20: True,
 22: True,
 24: True,
 26: True,
 28: True,
 30: True,
 32: True,
 34: True,
 36: True,
 38: True,
 40: True,
 42: True,
 44: True,
 46: True,
 48: True,
 50: True}

In [247]:
## Value is ternary
# i:is_magic ; is_magic = "magic" if (len(str(i))%2==0) and (i%2==0) else "not_magic"
{i:"magic" if (len(str(i))%2==0) and (i%2==0) else "not_magic" for i in range(1,51)}

{1: 'not_magic',
 2: 'not_magic',
 3: 'not_magic',
 4: 'not_magic',
 5: 'not_magic',
 6: 'not_magic',
 7: 'not_magic',
 8: 'not_magic',
 9: 'not_magic',
 10: 'magic',
 11: 'not_magic',
 12: 'magic',
 13: 'not_magic',
 14: 'magic',
 15: 'not_magic',
 16: 'magic',
 17: 'not_magic',
 18: 'magic',
 19: 'not_magic',
 20: 'magic',
 21: 'not_magic',
 22: 'magic',
 23: 'not_magic',
 24: 'magic',
 25: 'not_magic',
 26: 'magic',
 27: 'not_magic',
 28: 'magic',
 29: 'not_magic',
 30: 'magic',
 31: 'not_magic',
 32: 'magic',
 33: 'not_magic',
 34: 'magic',
 35: 'not_magic',
 36: 'magic',
 37: 'not_magic',
 38: 'magic',
 39: 'not_magic',
 40: 'magic',
 41: 'not_magic',
 42: 'magic',
 43: 'not_magic',
 44: 'magic',
 45: 'not_magic',
 46: 'magic',
 47: 'not_magic',
 48: 'magic',
 49: 'not_magic',
 50: 'magic'}

In [256]:
# Ternary on key
names = ["ana", "pedro", "pablo", "maria", "elena", "santiago", "juan"]
{name if len(name)==8 else name.ljust(8,"-"):len(name) for name in names}

{'ana-----': 3,
 'pedro---': 5,
 'pablo---': 5,
 'maria---': 5,
 'elena---': 5,
 'santiago': 8,
 'juan----': 4}

In [258]:
# Value is dict comprehension
{name:{letter:ord(letter) for letter in name} for name in names}

{'ana': {'a': 97, 'n': 110},
 'pedro': {'p': 112, 'e': 101, 'd': 100, 'r': 114, 'o': 111},
 'pablo': {'p': 112, 'a': 97, 'b': 98, 'l': 108, 'o': 111},
 'maria': {'m': 109, 'a': 97, 'r': 114, 'i': 105},
 'elena': {'e': 101, 'l': 108, 'n': 110, 'a': 97},
 'santiago': {'s': 115,
  'a': 97,
  'n': 110,
  't': 116,
  'i': 105,
  'g': 103,
  'o': 111},
 'juan': {'j': 106, 'u': 117, 'a': 97, 'n': 110}}

In [259]:
dic = {"ana":{"role":"student","age":7},"paco":{"role":"student","age":8},"maria":{"role":"teacher","age":32}}

In [262]:
[(k,v2) for k,v in dic.items() for k2,v2 in v.items()]

[('ana', 'student'),
 ('ana', 7),
 ('paco', 'student'),
 ('paco', 8),
 ('maria', 'teacher'),
 ('maria', 32)]